body {
  font-family: 'Open Sans', sans-serif;
  color: #404041;
  text-align: center;
  margin: 0px;
}

header {
  background-color: #404041;
  color:  #ED458B;
  text-align: center;
  font-size: 36px;
}

h1 {
  margin: 0px;
}

span {
  color: #E6E7E8;
  font-weight: lighter;
}

input {
  width: 50%;
  height: 30px;
  font-size: 18px;
  margin-top: 20px;
  outline: none;
}

button {
  background-color: #929497;
  color: #FFFFFF;
  margin-top: 20px;
  width: 25%;
  height: 30px;
  border-radius: 15px;
  outline: none;
  font-weight: lighter;

}

input::placeholder {
  color: #D0D2D3;
  font-size: 18px;
}

button:hover {
  background-color: #EB008B;
}

.guessOutput {
  font-size: 128px;
  color: #ED458B;
  height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.feedback1,
.feedback2 {
  height: 20px;
  font-size: 16px;
}

.feedback1 {
  margin-top: 40px;
  margin-bottom: 0px;
}

.feedback2 {
  margin-bottom: 40px;
  margin-top: 0px;
}

.resetButton {
  width: 50%;
  margin-top: 0px;
}